<!doctype html>
<html lang="en" ng-app="hashbow">
<head>
  <meta charset="UTF-8">
  <title>hashbow</title>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
  <link rel="stylesheet" href="style.css">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>
<body ng-controller="MainCtrl">
    <header>
      <span id="rainbow" ng-include="'img/logo.svg'"></span>
      <h1>hashbow</h1>
    </header>
    <div class="cloud-container">
      <div class="clouds">
        <div class="cloud" ng-repeat="i in [1,2,3,4,5,6,7,8,9]"></div>
      </div>  
    </div>
    <!-- <input type="text" value="helmet" ng-model="value"> -->
    <!-- <p>{{value}}</p> -->
</body>
<script>
  angular.module('hashbow', [])
    .controller('MainCtrl', function ($scope) {
      $scope.value = 'Banana';
    });
</script>
</html>