clouds = {size: 4em,  x: -1em,   y: -2em},
         {size: 15em, x: -1em,   y: -13em},
         {size: 15em, x: 8em,    y: -11em},
         {size: 6em,  x: 20.5em, y: -3em}

header-height = 20rem;

*
  box-sizing: border-box;

html,
body
  font-size: 10px;
  background-color: #BDD1DE;

#rainbow
  position: absolute;
  top: -1.5em;
  left: -2em;

h1
  margin-left: 50%;
  color: #6680c2;
  font-family: 'Londrina Solid';
  font-size: 9rem;

header
  overflow: hidden;
  background: whitesmoke;
  height: header-height;

.clouds
  position: relative;
  overflow: hidden;
  height: 100rem;

for cloud, i in clouds
  .cloud:nth-child({i + 1})
    position: absolute;
    top: cloud.y;
    left: cloud.x;
    border-radius: 50%;
    width: cloud.size;
    height: cloud.size;
    background: whitesmoke;